<% card_contents = capture do %>
  <div class="profile__container">
    <div class="profile__background"></div>
    <div class="profile__image">
      <img
        src="<%= webpack_path community.data.image %>"
        alt="<%= "#{community.data.name} photo" %>"
        loading="lazy"
      />
    </div>
    <%- if community.data.category == "keynote" %>
      <div class="profile__keynote">
        KEYNOTE
      </div>
    <%- elsif community.data.category == "mc" %>
      <div class="profile__mc">
        <abbr title="Master of ceremonies">MC</abbr>
      </div>
    <%- end %>
  </div>

  <span class="profile__name">
    <%= community.data.name %>
  </span>
<% end %>

<div class="speakers__profile">
  <%- url = url_for(community.relations.talk) if community.relations.talk.present? %>
  <% if !url.blank? %>
    <a
      href="<%= url %>"
      class="profile profile--keynote"
    >
      <%= card_contents %>
    </a>
  <%- else %>
    <div class="profile profile--{{community.data.category}}">
      <%= card_contents %>
    </div>
  <%- end %>
</div>
